<body style="text-align:center;">
<div ng-app="" *ngIf="!buyinProcessFinished">
  <h1>
    Neuer Kunde
  </h1>
  <div id="category">
    <h3 id="p">Produkt</h3>
    <h3 id="c"> Anzahl</h3>
    <h3 id="b">Betrag (in €)</h3>
    <h3 id="pa">Gezahlt (in €)</h3>
  </div>
  <div>
    <input type="text" [(ngModel)]="product.name" name="p1">
    <input type="number" [(ngModel)]="product.count" name="c1" id="anz">
    <input type="number" value="0" [(ngModel)]="product.itemPrice" id="num" step=".01" name="b1">
    <input type="number" value="0" [(ngModel)]="invoice.customerPaid" id="paid" step=".01"><br>
  </div>
  <div *ngFor="let singleProduct of products">
    {{singleProduct.count}}x
    {{singleProduct.name}},
    {{singleProduct.itemPrice}}€
  </div>
  <button (click)="submit()">Produkt hinzufügen</button>
  <a href="qr-code"><button (click)="finishBuyingProcess()">Kauf abschließen</button></a>
</div>
<div *ngIf="buyinProcessFinished">
  <h1>
    Scannen Sie den QR-Code ein.
  </h1>
  <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "qrValue">
  </ngx-qrcode>
  <button (click)="loadQRData()">QR-Code</button>
  <button (click)="resetBuyingProcess()">Nächster Kunde</button>
</div>
</body>
