<div class="wrapper">
  <div class="info-wrapper">
    <div class="input-wrapper" *ngIf="!buyinProcessFinished">
      <input type="text" id="item-name" [(ngModel)]="product.name" placeholder="Produktname">
      <input type="number" class="number-input" [(ngModel)]="product.count" id="anz" placeholder="Anzahl">
      <input type="number" class="number-input" [(ngModel)]="product.itemPrice" id="num" step=".01" placeholder="Preis">
      <button (click)="submit()">Hinzufügen</button>

      <div class="list-wrapper">
        <div class="single-item" *ngFor="let singleProduct of products" class="single-item">
          <span class="item-name">{{singleProduct.name}}</span>
          <span class="item-count"> {{singleProduct.count}} x</span>
          <span class="item-price">{{singleProduct.itemPrice}}€</span>
        </div>
      </div>
      <div class="submit-wrapper">
        <input type="number" id="customer-paid" [(ngModel)]="price2" placeholder="Bezahlt">
        <button (click)="finishBuyingProcess()">Kauf abschließen</button>
      </div>
    </div>
    <div *ngIf="buyinProcessFinished">
      <div class="qrcode">
        <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="qrValue">
        </ngx-qrcode>
      </div>
      <button class="done-button" (click)="resetBuyingProcess()">Transaktion abgeschlossen</button>
    </div>

  </div>

</div>
