<div style="text-align:center">
<h1>
  Neuer Kunde
</h1>
<p id="p">Produkt</p>
<p id="b">Betrag</p>
<form action="/">
  <input type="text" (onChange)="change()" name="p1">
  <input type="text" value="0" name="b1"><br>
  <input type="text" name="p2">
  <input type="text" value="0" name="b2"><br>
  <input type="text" name="p3">
  <input type="text" value="0" name="b3"><br>
  <input type="text" name="p4">
  <input type="text" value="0" name="b4"><br>
  <input type="text" name="p5">
  <input type="text" value="0" name="b5"><br>
  <input type="text" name="p6">
  <input type="text" value="0" name="b6"><br>
  <input type="text" name="p7">
  <input type="text" value="0" name="b7"><br>
  <input type="text" name="p8">
  <input type="text" value="0" name="b8"><br>
  <input type="text" name="p9">
  <input type="text" value="0" name="b9"><br>
  <input type="text" name="p10">
  <input type="text" value="0" name="b10"><br>
  <p>Gesamtbetrag</p>
  <p id="b"> {{gBetrag}}</p><br>
  <input type="submit" value="senden">
</form>

</div>
